<div class="highlight">
	<h2>How it works:</h2>
	<div class="responsive-table">
		<div class="row">
			<div class="col-lg-2">
				<div class="img-rounded">
					<%= image_tag('HIW_bike_184x184.png') %> 
				</div> 
			</div>
			
			<div class= "col-lg-2">
				<div class="caption">
					<h4>Step 1: Quote</h4>
					<p> Tell us the make, model, and year to receive an instant quote on the trade-in price ReRide will pay for your bicycle</p>
				</div> 
			</div>
		
			<div class="col-lg-2">
				<div class="img-rounded">
					<%= image_tag('HIW_tools_184x184.png') %> 
				</div> 
			</div>
		
			<div class="col-lg-2">
				<div class="caption" vertical-align="middle">
					<h4>Step 2: Inspection</h4>
					<p> Visit a local partner bike shop, where a tech will verify the condition of your bike and confirm the final buyback value</p> 
				</div> 
			</div>
		
			<div class="col-lg-2">
				<div class="img-rounded">
					<%= image_tag('HIW_dollarsign_184x184.png') %> 
				</div> 
			</div>
		
			<div class="col-lg-2">
				<div class="caption">
					<h4>Step 3: Payment</h4>
					<p> If you’re ready to sell, simply accept the offer, collect your payment electronically and leave your bicycle at the shop</p> 
				</div> 
			</div>
		</div>
	</div>
</div>
