<div class="highlight">
	<h2>How it works:</h2>
	<div class="row">
		<div class="col-lg-2">
			<div class="img-rounded">
				<%= image_tag('HIW_bike_184x184.png') %> 
			</div> 
		</div>
		
		<div class= "col-lg-2">
			<div class="caption">
				<h3>Step 1: Quote</h3>
				<p> Tell us the make, model, and year of your bicycle, and we’ll provide an instant quote on the maximum trade-in value you can expect from ReRide</p>
			</div> 
		</div>
	
		<div class="col-lg-2">
			<div class="img-rounded">
				<%= image_tag('HIW_tools_184x184.png') %> 
			</div> 
		</div>
	
		<div class="col-lg-2">
			<div class="caption">
				<h3>Step 2: Inspection</h3>
				<p> Visit a convenient, local partner bike shop, where a technician will perform a quick inspection to verify the final buyback offer based on the bicycle’s condition</p> 
			</div> 
		</div>
	
		<div class="col-lg-2">
			<div class="img-rounded">
				<%= image_tag('HIW_dollarsign_184x184.png') %> 
			</div> 
		</div>
	
		<div class="col-lg-2">
			<div class="caption">
				<h3>Step 3: Payment</h3>
				<p> If you’re ready to sell your bicycle, simply accept the offer, collect your payment electronically and just leave your bicycle at the shop</p> 
			</div> 
		</div>
	</div>
</div>
