<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  	ReRide was founded in the Spring of 2013 by students at the UCLA Anderson School of Management.  ReRide works with bicycle retailers to allow for real-time price quotes on used bicycles for their customers.  In return for their used bikes, customers receive store credit they can use at their local bike shop. We eliminate the hassle of selling a used bike by letting you trade-in and buy a new bike all with one trip to the bike shop!
</p>
<p>
  	ReRide works with its network of bicycle resellers to distribute bicycles that have been bought back.We are making the bicycle market (both new and used) more efficient!
</p>
