<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  	ReRide was founded in the Spring of 2013 by bike-loving students at UCLA. ReRide's mission is to make it easier for used bikes to get out of their owner's hands and into the hands of those who want them. We partner with bike shops and resellers to make this process as painless as possible!
  	<br>
  	Send us an email:
  	<br>
  	Follow us on twitter:  
</p>

<!--ReRide works with bicycle retailers to allow for real-time price quotes on used bicycles for their customers.  In return for their used bikes, customers receive store credit they can use at their local bike shop. We eliminate the hassle of selling a used bike by letting you trade-in and buy a new bike all with one trip to the bike shop! ReRide works with its network of bicycle resellers to distribute bicycles that have been bought back.We are making the bicycle market (both new and used) more efficient!-->