<div class="center hero-unit">
	<h1>ReRide Bikes</h1>
	<h2>Welcome to ReRide Bikes!</h2>
</div>

<h2>ReRide will be launching soon.... For now, <%= link_to "tell us about yourself", signup_path %></h2>

<%= link_to image_tag("ReRide Logo.png", alt: "ReRide"), root_path %>
