<p>Your inspection was successfully submitted.  An email has been sent to the customer with the results of the inspection and the final buyback quote.
<br>  
<br>
You should remain in posession of the bike until the customer shows proof of rejecting the quote.</p>

<%= link_to "Submit Another Inspection", new_transaction_path %><br>