<div class="container">
	<h3 id="overview-doctype">Terms of Service</h3>
		<p>
			Welcome to ReRide. By using this Website, you agree to comply and be bound by the following terms and conditions of use, which together with our privacy policy govern ReRide's relationship with you in relation to this Website. This agreement may be modified by ReRide at any time and without prior notice, which such modification becoming effective upon posting by ReRide on the Website.
		</p>
		<h5>1. Use</h5>
		<p>
			The content of the pages of this Website is for your general information and use only. Neither ReRide nor any third-parties provide any warranty or guarantee as to the accuracy, timelinees, performance, completeness or suitability of the information and materials found or offered on this Website. You may not modify, publish, transmit, participate in the transfer or sell, create derivative works from, or in any way exploit, any of the content, in whole or in part, found on the Website. You may not use spiders, robots, data mining techniques or other automated devices or programs to catalog, download or otherwise reproduce, store or distribute content available on the Website. Further, you may not use any such automated means to manipulate the Site, such as automating what are otherwise manual or one-off procedures. You may not take any action to interfere with, or disrupt, the Website or any other user's use of the Site, including, without limitation, via means of overloading, “flooding”, “mailbombing” or “crashing” the Website, circumventing security or user authentication measures or attempting to exceed the limited authorization and access granted to you under these Terms. You may not frame portions of the Website within another web site. You may not resell use of, or access to, the Site to any third party without our prior written consent.
		</p>
		<h5>2. Sales and Quotes</h5>
		<p>
			The Website provides a quote on the value of your bicycle for informational purposes, and does not guarantee the accuracy of the quoted value. Your bicycle buyback offer is valid only upon completion of the in-store inspection process provided by ReRide Authorized Partners. Until verification is complete, any sale proposed between you and the Website is for informational purposes only. 


</div>