<div class="well well-lg">
	<div class="center">

	    ReRide will give you up to <strong><%= number_to_currency((quote.bike.like_new_value)*0.7,:precision => 0) %></strong> for the bike listed below. Please take your bike to <%= link_to "YOUR BIKE SHOP HERE", "http://helenscycles.com/" %> for inspection.  <br>
	    Your transaction ID is: <strong>#<%= quote.id %></strong>.  An email with this information has been sent to your email below.

	</div>
</div>
