<h1>Resellers</h1>

<table>
  <%= render 'shared/business_table_header' %>
  <tbody>
    <% @resellers.each do |reseller| %>
      <tr>
        <%= render 'shared/business_table_row_info', :business => reseller %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reseller', new_reseller_path %>

