<%= f.fields_for :makes do |builder| %>
  	<p><%= render 'shared/make_questions_fields', :f => builder %></p>
<% end %>

<%= f.fields_for :models do |builder| %>
	<div id="bikeModels"
  		<p><%= render 'shared/model_questions_fields', :f => builder, :current_models => [] %></p>
	</div>
<% end %>


