<%= f.fields_for :makes do |builder| %>
  	<p><%= render 'shared/make_questions_fields', :f => builder %></p>
<% end %>

<%= f.fields_for :models do |builder| %>
  	<p><%= render 'shared/model_questions_fields', :f => builder %></p>
<% end %>

