<% provide(:title, @customer.first_name) %>
<div class ="center">
	<h1>Welcome <%= @customer.first_name %>!</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <% for quote in @customer.quotes %>
        <%= render :partial => 'shared/quote_info', :locals => {:quote => quote} %>
      <% end %>
      <%= render 'shared/customer_info', customer: @customer %>
    </div>
  </div>
</div>


