<% provide(:title, 'All Bike Shops') %>
<h1>All bike shops</h1>
<ul class="bike shops">
	<% @bike_shops.each do |bike_shop| %>
    <%= render 'bike_shop_info', bike_shop: bike_shop %>
	<% end %>
</ul>