<% provide(:title, @bike_shop.name) %>
<h1><%= @bike_shop.name %></h1>
  <div class="row">
    <div class="span6 offset3">
      <%= render 'bike_shop_info', bike_shop: @bike_shop %>
      <% for user in @bike_shop.users %>
        <%= render 'shared/user_info', user: user %>
      <% end %>
    </div>
  </div>

