<div class="row">
    <div class="col-md-12">
      <% for quote in @transaction.customer.quotes %>

        <div class="well well-lg">
          <div class="center">

              Please show this message to the bike shop employee to get your bicycle back.  This is proof that you declined ReRide's offer.<br>

              Bike Shop employee:<br>
              Transaction is: <strong>#<%= @transaction.quote.id %></strong>. 
          </div>
        </div>
      <% end %>
    </div>
  </div>