<div class="row">
    <%= form_for(:quote, :url => {:controller => 'quotes', :action => 'search'}, remote: true, :html => {:role => "form", :id => "quote_lookup", :class => "form-inline"}) do |f| %>
      <div class="form-group">
          <%= f.label :quote_id, 'Transaction Number:' %>
          <%= f.text_field :quote_id, class: 'form-control' %>
      </div>
        <%= f.submit "Find", class: "btn btn-primary btn-sm" %>
    <% end %>
</div>

<div class="row">
  <div id="inspection_form">
  </div>
</div>

