<li>
	<%= form_for(:session, :url => {:controller => 'sessions', :action => 'create'}, :html => { :role => "form", :class => "navbar-form"}) do |f| %>
		<div class="form-group">
			<%= f.text_field :email, :class => "form-control", :placeholder => "E-mail" %>
		</div>
		<div class="form-group">
			<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
		</div>
		<%= f.submit "Login", class: "btn btn btn-primary"%>
	<% end %>
</li>